[Unit]
Description=cmon Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/cmon -d
Restart=on-failure

[Install]
WantedBy=default.target